/**********************************************************************
 * Base
 **********************************************************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer hr {
  margin-bottom: 2px;
}

.footer p {
  text-align: right;
}

main {
  padding-bottom: 1rem;
}

td.day, th.day {
  width: 130px;
}

td.who, th.who {
  width: 200px;
}

table {
  table-layout: fixed;
  word-break: break-word;
}

.table-best, .table-best>td, .table-best>th {
    background-color: #C3E6CB;
}

.table-first, .table-first>td, .table-first>th {
    background-color: #FFDF32;
}

.table-second, .table-second>td, .table-second>th {
    background-color: #D0D0D0;
}

.table-third, .table-third>td, .table-third>th {
    background-color: #DCA671;
}

a.daylink {
  color: #212529;
}

.history-icon {
  cursor: help;
  font-size: 0.8em;
}

pre {
  line-height: 1.1em;
}

td pre {
  max-height: 500px;
}

.sticky {
  position: sticky;
  top: 55px;
}

code.codeview pre {
  border-left: 2px solid grey;
  margin-left: 20px;
  padding-left: 10px;
}


div.settingsbox {
  display: inline-block;
  padding: 10px;
  background: #343A40;
  border: 1px solid #343A40;
  color: rgba(255,255,255,.5);
  /* background: white;
  border: 1px solid black; */
}
div.settingsbox a {
  color: rgba(255,255,255);
}


.containsSparkline *[hidden] {
  display: none;
}

.containsSparkline .sparklineTooltip {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9999;
}

.containsSparkline .sparkline--cursor {
  stroke: orange;
}

.containsSparkline .sparkline--spot {
  fill: red;
  stroke: red;
}


th.whotop {
  width: 200px;
  height: 73.5px;
  padding: 0;
  margin: 0;
}

th.whotop .line {
  width: 210px;
  height: 75px;
  border-bottom: 2px solid rgb(222, 226, 230);
  transform: translateY(-35px) translateX(6px) rotate(19.5deg);
  position: absolute;
  z-index: -1;
}

th.whotop>div {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

th.whotop span.bottom {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

th.whotop span.top {
  position: absolute;
  top: 12px;
  right: 5px;
}
