/**********************************************************************
 * Base
 **********************************************************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer hr {
  margin-bottom: 2px;
}

.footer p {
  text-align: right;
}

main {
  padding-bottom: 1rem;
}

td.day, th.day {
  width: 100px;
}

td.who, th.who {
  width: 200px;
}

table {
  table-layout: fixed;
  word-break: break-word;
}

.table-best, .table-best>td, .table-best>th {
    background-color: #C3E6CB;
}

.table-first, .table-first>td, .table-first>th {
    background-color: #FFDF32;
}

.table-second, .table-second>td, .table-second>th {
    background-color: #D0D0D0;
}

.table-third, .table-third>td, .table-third>th {
    background-color: #DCA671;
}

a.daylink {
  color: #212529;
}
