/**********************************************************************
 * Base
 **********************************************************************/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer hr {
  margin-bottom: 2px;
}

.footer p {
  text-align: right;
}

main {
  padding-bottom: 1rem;
}

td.day, th.day {
  width: 100px;
}
